section.check-out {
    padding-bottom: 4rem;
}

section.check-out .item {
    background: white;
    padding: 40px;
    -webkit-box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    margin: 50px;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

section.check-out .item:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .4s;
    transition: all .4s;
}

section.check-out .item .img-people {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

section.check-out .item h4.title {
    margin: 10px 0px;
}

section.check-out .item p.card-text {
    font-weight: normal;
    margin-bottom: 9px;
}

section.check-out .item .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

section.check-out .item .carousel-control-next {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

section.check-out .item .carousel-control-prev {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

section.check-out .item .carousel-control-next-icon,
section.check-out .item .carousel-control-prev-icon {
    width: 22px;
    height: 22px;
}

section.check-out .owl-theme .owl-nav {
    position: absolute;
    top: 37%;
    width: 100%;
    margin-top: 0;
}

section.check-out .owl-theme .owl-nav button.owl-prev {
    position: absolute;
    left: -2%;
}

section.check-out .owl-theme .owl-nav button.owl-next {
    position: absolute;
    right: -2%;
}

section.check-out .owl-theme .owl-nav button span {
    font-size: 54px;
    color: gray;
}

section.check-out .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}

section.check-out .owl-theme .owl-dots {
    display: none;
}


/* ANCHOR 1200 */

@media(max-width:1200px) {
    section.check-out .item {
        margin: 30px;
    }
}


/* ANCHOR 995 */

@media(max-width:995px) {
    section.check-out .item {
        margin: 20px;
    }
}


/* ANCHOR 768 */

@media(max-width:768px) {
    section.check-out p.card-text {
        font-size: 13px;
    }
}


/* ANCHOR 542 */

@media(max-width:542px) {
    section.check-out .item {
        margin: 26px;
        padding: 30px;
    }
    section.check-out p.card-text {
        font-size: 20px;
    }
}


/* ANCHOR 281 */

@media(max-width:281px) {
    section.check-out .owl-theme .owl-nav button.owl-prev,
    section.check-out .owl-theme .owl-nav button.owl-next {
        display: none;
    }
}