*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;
    font-weight: 500;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

:focus {
    outline: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-col {
    display: flex;
    align-items: center;
}

.container-full {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container-full_2 {
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
}

.row-full {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.m-30 {
    margin-left: -30px;
    margin-right: -30px;
}

.box-card {
    padding-right: 30px;
    padding-left: 30px;
}

.black {
    background: rgba(0, 0, 0, 0.52);
    width: 100%;
    position: fixed;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.black.black-show {
    opacity: 1;
    visibility: visible;
}

a:hover {
    text-decoration: none;
}

button:focus {
    outline: none;
}

button:hover {
    background: #0069d9;
}

button.btn.btn-click_bg {
    width: 100%;
    font-size: 14px;
    height: 33px;
    text-transform: uppercase;
    color: white;
    background: #2A42A7;
}

input:focus {
    outline: none;
}

img {
    max-width: 100%;
}

.btn-card {
    width: 100%;
    border-radius: 999px;
    background: #2A42A7;
    color: white;
    font-size: 1.7rem;
}

button.btn-card:focus,
button.btn-card:hover,
button.btn-lg.btn-outline:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    color: white;
}

button.btn-lg {
    border-radius: 5px;
    padding: 10px;
    background: #00104F;
    border-color: #00104F;
}

button.btn-lg.btn-outline {
    background: transparent;
    /* border-color: #0062cc; */
    border-color: #00104F;
}

.p--15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

section {
    margin-bottom: 5rem;
}

section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    position: relative;
}

section h1.title .box-bottom {
    margin-top: 1rem;
    border-bottom: 1px solid #d6d6d6;
}

section h1.only {
    margin-bottom: 3rem;
}

section h2.title {
    font-size: 1.7rem;
    font-weight: bold;
}

section h4.title {
    font-size: 19px;
    font-weight: bold;
}

section h5.title {
    font-size: 2.5rem;
    color: #2A42A7;
    font-weight: bold;
}

section p.note_text {
    font-size: 17px;
    font-weight: normal;
}

section p.note {
    font-size: 1.9rem;
    font-weight: bold;
    color: #8E8E93;
    margin-top: .5rem;
    margin-bottom: 3rem;
}

section .box-item {
    margin-top: 3rem;
}

p.text,
p.note--text,
p.content {
    font-size: 1.5rem;
    color: #727272;
    font-weight: 400;
}

p.note--text {
    color: #000;
}

p.heading-title {
    color: #000000;
    font-size: 1.7rem;
    margin: 0;
    font-weight: 400;
}

span.dollar {
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    display: block;
}

.w-90 {
    margin: 0 auto;
    width: 90%;
}

section h5.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

section h5.card-title a {
    color: #000;
}

section p.card-text {
    font-size: 1.3rem;
    font-weight: bold;
}

section a {
    color: #8E8E93;
}

section button.click {
    color: white;
    border: none;
    border-radius: 5px;
    padding: .375rem .75rem;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

header {
    padding: 5px 0px;
    border-bottom: 2px solid #F2F2F2;
}

header.click-menu {
    transition: all .4s;
}

header.show-menu {
    width: 100%;
    top: 0%;
    background: white;
    box-shadow: 6px -1px 7px #0000002e;
    z-index: 100;
    transition: all .4s;
}

.ddTitle.borderRadiusTp {
    display: flex;
}

.lan-selector {
    position: relative;
}

.lan-selector .ddcommon {
    max-width: 142px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
    cursor: pointer;
    width: 100%!important;
}

.lan-selector .ddcommon .ddTitle .ddTitleText span {
    display: flex;
}

.lan-selector .ddcommon .ddChild {
    background: #fff;
    width: 100px;
    position: relative;
    left: 0;
    height: auto!important;
}

.lan-selector .ddcommon .ddChild ul {
    width: 100%;
    margin: 0;
}

.lan-selector .ddcommon .ddChild ul li {
    padding: 0px 10px;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    border: none;
}

.lan-selector .ddcommon .ddChild ul li img {
    width: 24px;
    margin-right: 10px;
}

.lan-selector .ddcommon .ddChild ul li span {
    font-size: 13px;
    color: #000;
    letter-spacing: 0.325px;
}

header .box-place {
    display: none;
}

header .box-place.d-block {
    display: block;
}

header .box-tablet {
    display: flex;
    justify-content: space-between;
}

header .item-show_546,
header .item-hidden_547,
header .item-hidden_769 {
    display: none;
}

header .item-search.box--search_mobile {
    display: none;
    background: white;
    padding: 8px;
    border-radius: 999px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}


/* header .flag {
    display: none;
} */

header .box-item {
    position: relative;
}

header .box-item.item-768 {
    display: none;
}

header .box-search_mobile {
    width: 100%;
    background: white;
    position: absolute;
    z-index: 4;
    top: 0;
    padding: 2px 0px;
    opacity: 0;
    visibility: hidden;
}

header .box-search_mobile .item-cancel,
header .box-search_mobile .icon-filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .box-search_mobile .item-cancel .icon-cancel {
    font-size: 20px;
    cursor: pointer;
}

header .box-search_mobile .icon-filter {
    justify-content: flex-start;
}

header .box-search_mobile.d-none {
    opacity: 0;
    visibility: hidden;
}

header .box-search_mobile.d-block {
    opacity: 1;
    visibility: visible;
}

header .box-place,
header .box-filter {
    background: white;
    position: fixed;
    top: 0px;
    height: 100%;
    z-index: 100;
    padding-top: 1px;
    overflow: hidden;
    animation: scroll_box .4s;
}

@keyframes scroll_box {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}

header .box-filter .box-top {
    height: 5%;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 50;
}

header .box-filter .box-middle {
    height: 90%;
}

header .box-filter .box-bottom {
    height: 5%;
}

header .box-place .box-shadow,
header .box-filter .box-shadow {
    border-bottom: 1px solid gray;
}

header .box-place .box-x,
header .box-filter .box-x {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    float: right;
    line-height: 25px;
    box-shadow: 2px 3px 11px #00000040;
}

header .box-place .item-place,
header .box-filter .item-place {
    padding: 10px 0px;
}

header .box-place .item-place span.text_place,
header .box-filter .item-place span.text_place {
    font-size: 17px;
    color: #2A42A7;
    padding-left: 4px;
}

header .box-place .box-nation,
header .box-filter .box-nation {
    height: 50vh;
    overflow-y: scroll;
}

header .box-place .box-nation ul.item-nation li,
header .box-filter .box-nation ul.item-nation li {
    list-style: none;
    text-align: left;
    padding: 10px 0px;
    font-size: 1.5rem;
}

header .box-place .box-nation ul.item-nation li:not(:last-child),
header .box-place .box-nation ul.item-nation li:not(:first-child),
header .box-filter .box-nation ul.item-nation li:not(:last-child),
header .box-filter .box-nation ul.item-nation li:not(:first-child) {
    border-bottom: 1px solid #80808063;
}

header .box-filter .title {
    margin-top: 2rem;
    margin-bottom: 0;
}

header .box-filter.box-block {
    opacity: 1;
    visibility: visible;
}

header .box-filter .box {
    width: 100%;
    height: 3rem;
    background: #e1e0e0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

header .box-filter .box p {
    margin-bottom: 0;
}

header .box-filter .box p.note {
    margin-top: 0;
    margin-bottom: 0;
    padding: .4rem 0px;
    font-size: 1.2rem;
}

header .box-filter .box:hover {
    box-shadow: 2px 2px 6px #2A42A7;
    border: 1px solid #2A42A7;
}

header .box-filter .bg-filter {
    background: whitesmoke;
    overflow-y: scroll;
}

header .box-button_bottom {
    display: flex;
    align-items: center;
}

header .box-filter .center {
    justify-content: center;
    align-items: center;
}

header .box-filter .box-title-shadow {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid #8080804a;
    box-shadow: 1px 1px 1px #8080804a;
    ;
}

header .item-button {
    padding: 2px 20px;
    color: white;
}

header .item-button.left {
    color: rgb(42, 66, 167);
    ;
}

header .box-filter .icon-chevron svg {
    cursor: pointer;
    font-size: 1.6rem;
}

header .box-filter .box-border__bottom {
    border-bottom: .1rem solid #80808029;
}

header .box-filter h5 {
    font-size: 1.4rem;
    color: #2A42A7;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

header .box-filter span {
    font-size: 1.3rem;
    color: gray;
    margin-bottom: 1rem;
}

header .box-filter p {
    font-size: 1.5rem;
    margin-top: .5rem;
}

header .box-search .item--search {
    width: 100%;
    background: white;
    box-shadow: 10px 10px 10px gray;
}

header .box-search .item--search ul.box-menu li.item--menu {
    list-style: none;
}

header .box-search .item--search ul.box-menu li.item--menu:not(:last-child) {
    border-bottom: 1px solid grey;
}

header .box-search .item--search ul.box-menu li.item--menu a .box {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

header .box-search .item--search ul.box-menu li.item--menu a span.text {
    font-size: 11px;
    color: grey;
}

header .box-search .item--search ul.box-menu li.item--menu a span.number {
    font-size: 11px;
    font-weight: bold;
    margin-left: 6px;
    color: #00104F;
}

header .box-search .item--search ul.box-menu li.item--menu a h4.title {
    font-size: 13px;
    color: grey;
    font-weight: bold;
}

header .box-search .item--search ul.box-menu li.item--menu a .assess svg {
    color: yellow;
    margin-right: 10px;
}

header .form-place {
    height: 38px;
}

header form.d-flex {
    position: relative;
}

header form.d-flex .search {
    padding-left: 40px;
    height: 38px;
}

header form.d-flex #search-clear {
    display: none;
}

header form.d-flex .icon-microphone,
header form.d-flex .icon-search {
    font-size: 18px;
    color: gray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

header form.d-flex .icon-search {
    left: 0;
    margin-left: 11px;
}

header form.d-flex .icon-microphone {
    right: 0;
    margin-right: 11px;
}

header .fa-map-marker-alt {
    position: relative;
}

header .fa-map-marker-alt::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
}

header .item-device,
header .item--device,
header .item-search,
header .item--alt {
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header .svg-inline--fa.icon_item_header {
    font-size: 2rem;
}

header .font-icon,
.ddlabel {
    font-size: 12px;
    margin-top: 3px;
    cursor: pointer;
    text-align: center;
}

header .item-device .dropdown-toggle::after {
    display: none;
}

header .item-device.blue {
    color: #00104F;
}

header .item-device.box-me {
    position: relative;
}

header .right-header .item-people {
    width: 20px;
    height: 20px;
    background: rebeccapurple;
    border-radius: 50%;
}

header .box-show {
    opacity: 0;
    visibility: hidden;
}

header .box-show.show_hidden {
    opacity: 1;
    visibility: visible;
    animation: transformRoteY 0.3s forwards;
}

header .box-note {
    background: white;
    position: absolute;
    top: 113%;
    right: 0;
    border: solid 1px #D6D6D6;
    z-index: 5;
}

header .box-note.info-child {
    width: 229px;
    height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .box-note.info-child::after,
header .box-note.info-child::before {
    right: 11%;
}

header .box-note.mess-child {
    width: 343px;
}

header .box-note.mess-child h3.title-mess {
    text-align: center;
    color: #2A42A7;
    text-transform: uppercase;
    border-bottom: 5px solid rgba(210, 208, 208, 0.25);
    margin: 0;
    padding: 10px;
}

header .box-note.mess-child .box-system {
    height: 303px;
    overflow-y: scroll;
}

header .box-note.mess-child .box-content {
    display: flex;
    padding: 10px 5px;
}

header .box-note.mess-child .box-content:not(:last-child) {
    border-bottom: 1px solid #D6D6D6;
}

header .box-note.mess-child .box-content .box-left {
    width: 20%;
    text-align: center;
}

header .box-note.mess-child .box-content .box-left .box-img {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid gray;
}

header .box-note.mess-child .box-content .box-right {
    width: 80%;
}

header .box-note.mess-child .box-content .box-right p {
    margin: 0;
    font-size: 15px;
}

header .box-note.mess-child .box-content .box-right p.title {
    font-weight: bold;
}

header .box-note.mess-child .box-content .box-right p.text {
    font-weight: normal;
}

header .box-note.mess-child .box-content .box-right .box-time {
    color: grey;
    font-size: 13px;
}

header .box-note.mess-child .box-content .box-right .box-time time {
    padding-left: 4px;
}

header .box-note.mess-child .box-left,
header .box-note.mess-child .box-right {
    width: 50%;
}

header .box-note.member-child {
    width: 336px;
}

header .box-note .header-member {
    display: flex;
    padding: 10px 0px;
    padding-left: 10px;
}

header .box-note .header-member .img--member {
    width: 50px;
    height: 50px;
}

header .box-note .header-member .info--member {
    padding-left: 20px;
}

header .box-note .header-member .office_member {
    width: 50px;
    height: 50px;
    color: #C4C4C4;
}

header .box-note ul.menu--member {
    margin: 0;
}

header .box-note ul.menu--member li.item_member {
    list-style: none;
    border-top: 1px solid #8080802e;
    padding: 7px 0px;
}

header .box-note ul.menu--member li.item_member ul li.item__member {
    list-style: none;
    font-size: 15px;
    line-height: 29px;
    padding-left: 20px;
}

header .box-note ul.menu--member li.item_member ul li.item__member a {
    font-size: 15px;
    color: #000000;
}

header .box-note::after,
header .box-note::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 10px;
    height: 10px;
    border: solid 1px #D6D6D6;
    transform: rotate(45deg);
    background-color: white;
    right: 3%;
    top: -6px;
}

header .box-note::after {
    border: 0;
    top: -4px;
}

header .box-note.mess-child::after,
header .box-note.mess-child::before {
    right: 7%;
}

header .box-note h3.title {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

header .box-note span.title {
    font-size: 15px;
}

header .select-box {
    display: flex;
    flex-direction: column;
}

header .select-box .options-container {
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
    order: 1;
    position: absolute;
    top: 100%;
}

header .select-box .options-container .box-border {
    border-top: 0.05rem solid #f2f2f2;
    padding: 5px 0px;
    padding-left: 5px;
}

header .select-box .options-container .box-search input.box--search {
    border: none;
    padding-left: 0.5rem;
}

header .selected {
    border: 1px solid #ced4da;
    background: white;
    margin-bottom: 8px;
    position: relative;
    order: 0;
}

header .selected .icon-sort {
    float: right;
}

header .select-box .options-container.show_hidden {
    max-height: 240px;
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;
}

header .select-box .option,
header .selected {
    padding: 10px;
    cursor: pointer;
    display: block;
}

header .select-box .option:hover {
    background: #f9f9f9;
}

header .select-box label {
    cursor: pointer;
}

header .select-box .option .radio {
    display: none;
}

@-webkit-keyframes transformRoteY {
    from {
        transform: rotateY(-90deg);
        opacity: 0;
        transform-origin: 100% 100%;
    }
    to {
        transform: rotateY(0deg);
        opacity: 1;
        transform-origin: 100% 100%;
    }
}

.form-control::placeholder {
    font-size: 13px;
    font-weight: 500;
}


/* ANCHOR banner */

.banner {
    margin-bottom: -100px;
}

.banner .title-banner {
    font-size: 3.5rem;
    font-weight: bold;
}

.banner .text-note {
    font-size: 2.5rem;
    font-weight: bold;
    color: gray;
}

.banner .banner-home {
    padding-top: 2rem;
}

.banner.banner--general,
.slide-banner {
    position: relative;
    height: 42rem;
    margin-bottom: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-banner {
    margin-bottom: 0px;
}

.banner.banner--general .img-banner {
    height: 42rem;
    position: absolute;
    top: 0;
    left: 0;
}

.banner .img-banner {
    width: 100%;
    object-fit: cover;
}

.banner .bg-opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000005e;
}

.button-banner li {
    width: 113px;
    height: 4px;
    margin-left: 8px;
    margin-right: 8px;
    border-top: none;
    border-bottom: none;
}

.banner ol.breadcrumb {
    background: transparent;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
}

.banner ol.breadcrumb li.breadcrumb-item {
    font-size: 1.7rem;
}

.banner ol.breadcrumb li.breadcrumb-item a {
    color: white;
}

.banner ol.breadcrumb li.breadcrumb-item.active {
    color: white;
}

.banner .breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

.banner .box-card .card-body {
    margin: 0 auto;
}

.banner .box-card .card-body h3.tittle {
    font-size: 1.9rem;
    font-weight: 400;
    padding-top: 1rem;
}

.box-search__mobile {
    position: fixed;
    z-index: 201;
    bottom: 0;
    border-top: 1px solid gray;
}

section.box-aside {
    border: .25px solid #D6D6D6;
}

.text-blue {
    color: #2A42A7;
}


/* ANCHOR aside  */

h5.title-menu {
    font-size: 1.9rem;
    font-weight: bold;
}

.box-aside nav {
    padding-left: 10px;
}

.box-aside ul li {
    list-style: none;
}

.box-aside .item-menu {
    font-size: 1.7rem;
}

.item-menu a {
    color: #000000;
    font-weight: normal;
}

.item-menu a:hover {
    color: #2A42A7;
}


/* ANCHOR footer */

footer.desktop {
    padding: 40px 0px;
}

footer.desktop,
footer.mobile {
    background: #00104F;
}

footer.desktop h3.title,
footer.mobile h3.title {
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

footer.desktop ul.menu-footer li.item-footer,
footer.mobile ul.menu-footer li.item-footer {
    list-style: none;
    margin-top: 10px;
}

footer.desktop ul.menu-footer li.item-footer a,
footer.mobile ul.menu-footer li.item-footer a {
    color: white;
}

footer.desktop ul.menu-footer li.item-footer a {
    font-size: 1.5rem;
}

.box-search__mobile {
    display: none;
}

.box-search__mobile.item-show_device {
    display: none;
}

.box-search__mobile.item-show_device .box-device {
    box-shadow: none;
    border-radius: 0px;
}

.box-search__mobile.item-show_device.item-show_device {
    background: white;
    border: 1px solid black;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.box-search__mobile.item-show_device h5.card-title {
    margin-top: 10px;
    font-size: 11px;
    line-height: 14px;
}

footer.desktop {
    padding: 40px 0px;
}

footer.mobile,
.download-mobile {
    position: fixed;
    width: 100%;
    color: white;
    padding: 10px 0px;
    z-index: 99;
    display: none;
}

footer.mobile {
    background: #00104F;
    color: white;
    bottom: 0;
}

footer.mobile a.plus .cover-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: -10px;
    background-color: #195fb9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 40px;
    color: #EEEEEE;
}

footer.mobile a.plus .cover-plus .icon-plus {
    font-size: 20px;
}

footer.mobile .mobile-item-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 12%;
}

footer.mobile .mobile-item-footer a.title {
    color: white;
    font-size: 13px;
}

footer.mobile .mobile-item-footer .icon-mobile {
    font-size: 20px;
    margin-bottom: 5px;
}

footer.mobile .mobile-item-footer .icon-plus {
    font-size: 40px;
}

footer.mobile .mobile-item-footer:not(:last-child) {
    margin-right: 8%;
}


/* ANCHOR 1200 */

@media (max-width: 1200px) {
    section.device h5.card-title,
    .box-search__mobile h5.card-title {
        font-size: 16px;
    }
    section.device .box-device .item--device .item-device .bg-device,
    .box-search__mobile .item--device .item-device .bg-device {
        width: 100%;
    }
    .btn-card {
        font-size: 1.3rem;
    }
}


/* ANCHOR 1025 */

@media (max-width: 1025px) {
    .process {
        width: 95%;
    }
    .process.image {
        width: 62%;
    }
    .process.image img {
        margin-left: 0;
    }
    section.device .box-device .item--device .item-device .bg-device,
    .box-search__mobile .box-device .item--device .item-device .bg-device {
        width: 70%;
    }
    section.device h5.card-title,
    .box-search__mobile h5.card-title {
        font-size: 1.3rem;
    }
}


/* ANCHOR 768 */

@media (min-width: 768px) {
    .dotw::before {
        width: 10px;
        height: 92px;
    }
    .item-dotw:not(:last-child) .dotw::before {
        background: url(../images/procedure/arrow-down.png) no-repeat center/cover;
    }
}


/* ANCHOR 995 */

@media (max-width: 995px) {
    header .item-device .font-icon {
        display: none;
    }
    header .form-control::placeholder {
        opacity: 0;
    }
    header .box-note {
        top: 181%;
    }
    header .box-note.mess-child::after,
    header .box-note.mess-child::before {
        right: 2%;
    }
    header .box-note.info-child::after,
    header .box-note.info-child::before {
        right: 11%;
    }
    section.device h5.card-title {
        font-size: 15px;
    }
    header.show-menu,
    footer.desktop {
        display: none;
    }
    footer.mobile {
        display: block;
    }
}


/* ANCHOR 768 */

@media (max-width: 768px) {
    h1.title {
        font-size: 1.9rem;
    }
    section p.note {
        font-size: 1.5rem;
    }
    section.take {
        padding-bottom: 4rem;
    }
    .img-mt {
        margin-top: 3rem;
    }
    section {
        margin-bottom: 3rem;
    }
    section.device .box-device .item--device .item-device .bg-device,
    .box-search__mobile .item--device .item-device .bg-device {
        width: 70%;
    }
    section.device .box-device .item--device,
    .box-search__mobile .item--device {
        padding: 0rem .5rem;
    }
    .button {
        margin: 0 auto 20px;
        width: auto;
    }
    .button.first {
        margin-top: 40px;
    }
    .buttons {
        padding: 0 0 20px;
    }
    .buttons .button {
        float: left;
        font-size: 12px;
        margin: 1%;
        width: 48%;
    }
    .slick-prev,
    .slick-next {
        display: none !important;
    }
    .info .slick-dots li button {
        display: block;
    }
    section.take .rate {
        width: 100%;
    }
    header .item-hidden {
        display: none;
    }
    header .box-item.item-768 {
        display: block;
    }
    header .item-hidden_769 {
        display: block;
    }
    section.device h5.card-title {
        font-size: 1.3rem;
    }
    footer.mobile .mobile-item-footer {
        width: 20%;
    }
    footer.mobile .mobile-item-footer a.title {
        font-size: 13px;
    }
    footer.mobile .mobile-item-footer:not(:last-child) {
        margin-right: 0;
    }
    .header .item-button {
        padding: 2px 20px;
    }
    .button-banner li {
        width: 50px;
    }
}


/* ANCHOR 600 */

@media (max-width: 600px) {
    .slick-slide img,
    .movie-tabs img {
        width: 100%;
    }
}


/* ANCHOR 542 */

@media (max-width: 542px) {
    header .box-item.item-768 {
        display: none;
    }
    header.header-546 {
        background: #00104F;
        padding: 4rem 0rem;
    }
    header.header-546.op-0 {
        background: none;
        padding: 0;
        padding-top: 10px;
    }
    header .item-show_546 {
        display: block;
    }
    header .item-show_546 .place {
        cursor: pointer;
        color: white;
        margin-top: 5px;
        font-size: 16px;
        transition: all .4s;
    }
    header .item-show_546 span.title {
        color: orange;
        font-size: 1.3rem;
    }
    header .item-546,
    header .item-hidden_546 {
        display: none;
    }
    header .item-search.box--search_mobile {
        display: flex;
    }
    header .item--alt {
        align-items: flex-start;
    }
    section.banner {
        display: none;
    }
    section.device {
        transform: translateY(-5%);
        padding-bottom: 3rem;
    }
    section.device h5.card-title {
        font-size: 1.7rem;
    }
    .banner.banner--general,
    .slide-banner {
        height: 30rem;
    }
}


/* ANCHOR 415 */

@media (max-width: 415px) {
    .text-step-mobile {
        margin: 1.5rem 0rem;
    }
    section.device h5.card-title {
        font-size: 1.5rem;
    }
    header .box-item.item-768 {
        display: none;
    }
    .banner.banner--general,
    .slide-banner {
        height: 25rem;
    }
    .banner.banner--general .box-card {
        padding-left: 5px;
        padding-right: 5px;
    }
    .banner--general .box-card .card-body h3.tittle {
        font-size: 1.1rem;
    }
    .banner .box-card .card-body .btn-card {
        font-size: 1rem;
    }
    section h5.title {
        font-size: 2rem;
    }
}


/* ANCHOR 376 */

@media (max-width: 376px) {
    section.device .box-device .item--device.item-hidden {
        display: none;
    }
    section.device .box-device .item--device.item-show {
        display: block;
    }
    section.banner {
        display: none;
    }
    .item-seen {
        display: block;
    }
    section.device h5.card-title {
        font-size: 13px;
    }
    header .header-546 {
        padding-top: 1.5rem;
        padding-bottom: 4.1rem;
    }
    header .item-show_546 .place {
        font-size: 1.3rem;
    }
    section.device {
        transform: translateY(-10%);
        margin-top: -.7rem;
    }
    .banner.banner--general,
    .banner.banner--general .img-banner,
    .slide-banner {
        height: 23rem;
    }
    /* {
        height: 23rem;
    } */
    .w-90 {
        width: 100%;
    }
    .banner.banner--general .box-card .card-body h3.tittle {
        font-size: 1.1rem;
    }
    .banner.banner--general .box-card .card-body .btn-card {
        font-size: .8rem;
    }
    p.text,
    p.note--text {
        font-size: 1.3rem;
    }
    section h5.title {
        font-size: 1.8rem;
    }
    .banner .title-banner {
        font-size: 2.2rem;
    }
    .banner .text-note {
        font-size: 1.5rem;
    }
}


/* ANCHOR 321 */

@media (max-width: 321px) {
    section.device h5.card-title {
        font-size: 1.1rem;
    }
    .banner .title-banner {
        font-size: 1.8rem;
    }
}


/* ANCHOR 281 */

@media (max-width: 281px) {
    section {
        margin-top: 2rem;
    }
    .banner ol.breadcrumb li.breadcrumb-item {
        font-size: 1.5rem;
    }
    footer.mobile .mobile-item-footer .icon-mobile {
        font-size: 1.4rem;
        margin-bottom: .5rem;
    }
    footer.mobile .mobile-item-footer a.title {
        display: block;
        font-size: 1.1rem;
    }
    section.device {
        transform: translateY(0%);
        padding: 2rem 0rem;
    }
    section h1 {
        font-size: 1.7rem;
    }
    section p.note {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 2.6rem;
    }
    section.device .box-device,
    .box-search__mobile .box-device {
        box-shadow: 0px 0px 4px grey;
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 0;
    }
    section.device .box-device .col-3.col-lg-2.col-sm-3,
    .box-search__mobile .box-device .col-3.col-lg-2.col-sm-3 {
        margin-bottom: 20px;
    }
    section.device .box-device .col-3.col-lg-2.col-sm-3 .item-device .bg-device,
    .box-search__mobile .box-device .col-3.col-lg-2.col-sm-3 .item-device .bg-device {
        padding: 2px;
    }
    section.device .box-device .col-3.col-lg-2.col-sm-3 .item-device h5.card-title,
    .box-search__mobile .box-device .col-3.col-lg-2.col-sm-3 .item-device h5.card-title {
        font-size: 7px;
    }
    h5.card-title {
        font-size: 1.7rem;
    }
    p.card-text {
        font-size: 1.4rem;
    }
    header.header-546 {
        padding: 1rem 0rem;
    }
    header .item-show_546 .place {
        font-size: 1.3rem;
    }
}

input:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-inner-spin-button {
    display: none;
}

@media screen and (min-width: 1200px) {
    section.device .box-device .item--device .item-device .bg-device,
    .box-search__mobile .item--device .item-device .bg-device {
        width: 80%;
        padding: 9px;
    }
    section.device h5.card-title,
    .box-search__mobile h5.card-title {
        font-size: 1.7rem;
    }
}

.show_hidden {
    opacity: 1;
    visibility: visible;
}

::-webkit-search-cancel-button {
    padding-right: 40px;
}


/* 411 540 */

@media(min-width:411px) and (max-width:540px) {
    .banner .text-note {
        font-size: 1.9rem;
    }
    .banner .title-banner {
        font-size: 2.3rem;
    }
}