.cleaning_services {
    background: white;
    .info_services {
        .item-list {
            padding-top: 4px;
        }
        .item-text {
            span {
                color: #2A42A7;
                font-weight: 500;
                font-size: 15px;
            }
        }
    }
}

.box-bar_top {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 5px solid rgba(210, 208, 208, 0.25);
    }
}

@media(max-width:768px) {
    .cleaning_services {
        margin-bottom: 0;
    }
}