html,
body {
    width: 100%;
    height: 100%;
}

.cover-slide {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 1500;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    &.show-hide {
        opacity: 1;
        visibility: visible;
    }
    .back-to-home {
        position: absolute;
        top: 20px;
        left: 30px;
        z-index: 1501;
        svg {
            color: #fff;
            font-size: 20px;
        }
    }
    .slider-for {
        width: 70%;
        margin: 30px auto 1px;
        overflow: hidden;
        .item img {
            width: 70%;
            margin-left: 15%;
            border-right: none;
            cursor: pointer;
        }
    }
    .slider-nav {
        margin-top: 40px!important;
        width: 80%;
        margin: auto;
        .slick-next,
        .slick-prev {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
        }
        .slick-prev {
            left: -10%;
        }
        .slick-next {
            right: -10%;
        }
        .item img {
            width: 50%;
            border-right: none;
            cursor: pointer;
        }
    }
}

@media(min-width:1200px) {
    .cover-slide {
        opacity: 0;
        visibility: hidden;
        &.show-hide {
            opacity: 1;
            visibility: visible;
        }
    }
}